body {
    background: url(wall-795219.jpg)0 0 / cover no-repeat; 
    color: #fff; 
    margin-bottom: 0;

}
.title{	
	text-align: center;
	color:rgb(220, 220, 220);
	border: 6px solid  #dfe2e5;
	border-radius:10px;
  	height: 50px;
  	margin:20px 20px 20px 650px;
  	padding: 20px;
 	width: 400px;
	text-shadow:1px 1px 1px #E0FFFF;
	box-shadow:5px 5px 5px 5px #2F4F4F;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#114959+0,7eaed6+47,65447f+100 */
	background: rgb(17,73,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(17,73,89,1) 0%, rgba(126,174,214,1) 47%, rgba(101,68,127,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(17,73,89,1) 0%,rgba(126,174,214,1) 47%,rgba(101,68,127,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(17,73,89,1) 0%,rgba(126,174,214,1) 47%,rgba(101,68,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114959', endColorstr='#65447f',GradientType=0 ); /* IE6-9 */


}
.size{
	font-size:40px;
	margin: 20px 20px 20px 20px;
	box-shadow:5px 5px 5px 10px #2F4F4F;
	border-radius:5px;
}
#f {margin: 20px 20px 20px 350px;}

p{	position: relative;
	font-size:20px;
	color:#000000;
	margin: 20px 20px 20px 20px;
	width:1280px;
	left:10%;
}
.iz{
	border: 6px solid gray;
	border-radius: 10px;
	float: left;
	margin-top:3%;	
}

a{
	margin: 20px 20px 20px 20px;
	display: inline-block;
	border:4px solid #dfe2e5;
  	padding: 10px 30px;
  	text-decoration:none;
}
a:hover {
   text-decoration: none;
	background: #FFFFFF;
	position: relative;
	top:5px;
}

.inp{
	margin: 20px 20px 20px 450px;
}

#cont {
	margin: 20px 20px 20px 20px;
	width: 1860px;
	height: 28px;
	background:rgba(255, 250, 240, 0.3);
	position: relative;
	border-radius:10px;
}

#box{
	width:50px;
	height:50px;
	position:absolute;}
iframe {border:10px solid #dfe2e5;
	margin: 20px 20px 20px 400px;
	}
.but {
	float:left;
	margin-top:50px;
	margin-right:10px;
	margin-left:10px;
	background-color: rgba(0, 125, 215, 0);	
}

.but:active {
	position: relative;
	top:5px;
}
#div{	width:840px;
	height:800px;
	margin:0px 0px 0px 500px;
	border: 4px solid gray;
	border-radius: 10px;
	background-color: black;
	flex:1 0 auto;
}
#book {
	border: 0px;
	padding:0px;
	margin:0px 0px 0px 0px;
}

.virus {
	display:none;
	position: absolute;
	top:10%;
	left:16%;
	padding: 20px;
}
.virus-title {
	font-size: 70px;
	text-align: center;
	color:black;
	font-weight: bold;
	background-color: white;
}
.virus-button{
	position: relative;
	left:43%;
	background-color: rgba(1,1,1,0.1);
}
.virus-img {}

.close{
	height:50px;
	width:50px;
}

.virus-title button{
	position: relative;
	left:22%;
}